
<form id="skills_new" method="POST" action="/proficiency/new">
    <label class="label" for="years">Years</label>
    <input type="integer" name="years" placeholder="Years of Experience"><br>
    <label class="label" for="formal">Formal Education</label>
    <input type="text" name="formal" placeholder="Answer yes or no">
    <br>
    <div class="submit"><input type="submit" value="submit"></div>
</form>
