<form id="skills_new" method="POST" action="/skills/new">
    <label class="label" for="name">Skill</label>
    <input type="integer" name="name" placeholder="ex. Ruby"><br>
    <label class="label" for="context">Context</label>
    <input type="text" name="context" placeholder="Description">
    <br>
    <div class="submit"><input type="submit" value="submit"></div>
</form>
